* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: 'Roboto';
  font-style: normal;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.container-content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.btn {
  position: relative;
  z-index: 1;
  max-width: 298px;
  width: 298px;
  height: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 298px;
  height: 54px;
  border-radius: inherit;
  border: none;
  background: #E47209;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn:hover::before {
  opacity: 1;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 298px;
  height: 54px;
  border-radius: inherit;
  border: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: #4B9200;
}

.btn:active::after {
  opacity: 1;
}

.btn_disabled {
  background: #767474;
}

.btn_square {
  border-radius: 5px;
}

.btn-submit {
  width: 129px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80px;
  padding: 14px 0;
  background-color: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  width: 100%;
  margin-left: 63px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 58px;
}

.nav__item:last-child {
  margin: 0;
  margin-left: auto;
}

.nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link_active {
  color: #F9804B;
  cursor: default;
}

.nav__link:hover {
  color: #F9804B;
}

.logo {
  position: relative;
  display: block;
  width: 82px;
  height: 52px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}

.logo__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 23px;
  text-align: center;
}

.logo__icon {
  position: absolute;
  right: 59px;
  bottom: 4.8px;
  width: 11.03px;
  height: 22.98px;
  background: url(../../assets/icons/bamboo.svg) no-repeat;
  background-size: contain;
}

.footer {
  width: 100%;
  background: #111115;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 50px;
}

.footer__btn {
  display: block;
  margin: 68px 0 44px;
}

.footer__center {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__email:focus-within .btn-submit {
  color: #D31414;
  border: 1px solid #D31414;
  border-radius: 5px;
}

.footer__email:valid .btn-submit {
  color: #4B9200;
  border: 1px solid #4B9200;
}

.footer__email:invalid .email__input_active::after {
  opacity: 1;
}

.footer__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 228px;
  row-gap: 10px;
  margin-top: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 100;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.autor {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.autor::before {
  content: '';
  position: absolute;
  width: 223px;
  height: 1px;
  bottom: -2px;
  background: #4B9200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.autor:active {
  color: #4B9200;
}

.autor:active::before {
  opacity: 1;
}

.email__input {
  position: relative;
  z-index: 2;
  width: 226.6px;
  height: 40.4px;
  padding: 10px 7px 10px 10px;
  border-radius: 2px;
  background: #111115;
  border: none;
  color: #BDBDBD;
}

.email__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BDBDBD;
}

.email__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BDBDBD;
}

.email__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BDBDBD;
}

.email__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BDBDBD;
}

.email__input:invalid:focus {
  color: #D31414;
}

.email__input:invalid:focus::-webkit-input-placeholder {
  color: #D31414;
}

.email__input:invalid:focus:-ms-input-placeholder {
  color: #D31414;
}

.email__input:invalid:focus::-ms-input-placeholder {
  color: #D31414;
}

.email__input:invalid:focus::placeholder {
  color: #D31414;
}

.email__input_active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #4B9200;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.email__input_active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #D31414;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #D31414;
}

.email__input:focus-visible {
  outline: none;
}

.email__input:focus-visible ~ .email__input_active {
  opacity: 1;
}

.email__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 228px;
  height: 42px;
  border-radius: 2px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  row-gap: 10px;
  padding: 0;
}

.socials__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__link:active {
  color: #4B9200;
}

.socials__link:active .socials__icon {
  background-color: #4B9200;
}

.socials__icon {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__icon_fb {
  background: url(../../assets/icons/socials/fb.svg) center center no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
}

.socials__icon_twitter {
  background: url(../../assets/icons/socials/twitter.svg) center center no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
}

.socials__icon_ig {
  background: url(../../assets/icons/socials/ig.svg) center center no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
}

.socials__icon_youtube {
  background: url(../../assets/icons/socials/youtube.svg) center center no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
}

.panda {
  margin-top: 80px;
  width: 100%;
}

.donate {
  width: 100%;
  margin-top: -5px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 0 180px;
}

.donate__title {
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
}

.donate__text {
  margin: 10px 0 40px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.donate__title2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #FE9013;
  margin-bottom: 60px;
}

.donate__input-amount {
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
}

.donate__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 218px;
  margin-bottom: 47px;
}

.donate__share {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
}

.radio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #FE9013;
  border-radius: 50%;
}

.radio input:checked {
  background: #4B9200;
  border-color: #4B9200;
}

.input-amount {
  -moz-appearance: textfield;
  /* Firefox */
  position: relative;
  width: 268px;
  height: 54px;
  padding: 16px 20px 16px 9px;
  background-color: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
}

.input-amount::-webkit-outer-spin-button, .input-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-amount::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #929699;
}

.input-amount:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #929699;
}

.input-amount::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #929699;
}

.input-amount::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #929699;
}

.dollar-icon {
  position: absolute;
  width: 10px;
  height: 20px;
  right: 10px;
  top: 17px;
  background: url(../../../assets/icons/donate/dollar-icon-gray.svg);
}

.donate-pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px 92px 62px;
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
}

.donate-pick__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #FE9013;
}

.donate-pick__desc {
  margin: 20px 0 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #333B41;
}

.donate-pick__animal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate-pick__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 11px;
  font-weight: 500;
  font-size: 72px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.donate-pick__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333B41;
}

.donate-pick__x {
  width: 14px;
  height: 14px;
  margin: 0 64px 0 11px;
  background: url(../../../assets/icons/donate/x-icon.svg);
}

.donate-pick__panda {
  width: 270px;
  height: 198.5px;
  background: url(../../../assets/icons/donate/panda_widget.svg) 0 100%;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 976px;
  height: 27px;
  padding: 0 30px 0 26px;
  background: #404950;
  border-radius: 2px;
}

.bar__text {
  display: block;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.bar__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 915px;
  height: 2px;
  background: #72828E;
}

.bar__dot {
  position: relative;
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  border-radius: 50%;
  cursor: pointer;
}

.bar__dot_active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: -15px;
  top: -15px;
  background: url(../../../assets/icons/donate/ring2.svg) no-repeat;
  cursor: pointer;
}

.bar__dot_active::after {
  content: '';
  position: absolute;
  width: 22.95px;
  height: 22.95px;
  left: -7.5px;
  top: -7.5px;
  background: url(../../../assets/icons/donate/ring1.svg);
  cursor: pointer;
}

.bar__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 952px;
  margin-top: 12px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 73px;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333B41;
}

.price__dollar {
  margin-right: 2px;
  width: 10px;
  height: 20px;
  background: url(../../../assets/icons/donate/dollar-icon.svg);
}

.price__dollar_active {
  background: url(../../../assets/icons/donate/dollar-icon_or.svg);
}

.price__count_active {
  color: #FE9013;
}

.price:first-child {
  margin-right: 58px;
}

.price:nth-child(2) {
  margin-right: 58px;
}

.price:nth-child(3) {
  margin-right: 58px;
}

.price:nth-child(7) {
  margin-right: 88px;
}

.price:last-child {
  margin: 0;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */