* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  &-content {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }
}

@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';
@import '../../assets/styles/_fonts.scss';
@import '../../assets/styles/_header.scss';
@import '../../assets/styles/_logo.scss';
@import './styles/_watch.scss';
@import '../../assets/styles/_btn.scss';
@import './styles/_backstage.scss';