* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.container-content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto), url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80px;
  padding: 14px 0;
  background-color: #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  width: 100%;
  margin-left: 63px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav__item {
  margin-right: 58px;
}

.nav__item:last-child {
  margin: 0;
  margin-left: auto;
}

.nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__link_active {
  color: #F9804B;
}

.nav__link:hover {
  color: #F9804B;
}

.logo {
  position: relative;
  display: block;
  width: 82px;
  height: 52px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}

.logo__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 23px;
  text-align: center;
}

.logo__icon {
  position: absolute;
  right: 59px;
  bottom: 4.8px;
  width: 11.03px;
  height: 22.98px;
  background: url(../../assets/icons/bamboo.svg) no-repeat;
  background-size: contain;
}

.watch {
  width: 100%;
  height: 780px;
  padding-top: 166px;
  background: url(../../assets/images/Giant_Panda.jpg) center center no-repeat;
  background-size: cover;
}

.watch__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.watch__title {
  position: relative;
  z-index: 1;
  width: 500px;
  height: 400px;
  margin: 0;
  margin-left: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.watch__title_yellow {
  color: #FFEE2E;
}

.watch__title::after {
  content: '';
  position: absolute;
  top: -74px;
  left: -73px;
  z-index: -1;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.watch__btn {
  margin: 60px 100px 0 auto;
}

.btn {
  position: relative;
  z-index: 1;
  width: 298px;
  height: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: none;
  background: #E47209;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn:hover::before {
  opacity: 1;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 298px;
  height: 54px;
  border-radius: 25px;
  border: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background: #4B9200;
}

.btn:active::after {
  opacity: 1;
}

.btn_disabled {
  background: #767474;
}
/*# sourceMappingURL=style.css.map */