.donate {
  width: 100%;
  margin-top: -5px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
     linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%,
      #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%,
       rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0 180px;
  } 

  &__title {
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
  }
  &__text {
    margin: 10px 0 40px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }

  &__title2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #FE9013;
    margin-bottom: 60px;
  }

  &__input-amount {
    position: relative;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  &__radio {
    display: flex;
    justify-content: space-between;
    width: 218px;
    margin-bottom: 47px;
  }

  &__share {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
  }
}

.radio {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;

  & input {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    &:checked {
      background: #4B9200;
      border-color: #4B9200;
    }
  }
} 

.input-amount {
  -moz-appearance:textfield; /* Firefox */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  position: relative;
  width: 268px;
  height: 54px;
  padding: 16px 20px 16px 9px;
  background-color: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #929699;
  }
}

.dollar-icon {
  position: absolute;
  width: 10px;
  height: 20px;
  right: 10px;
  top: 17px;
  background: url(../../../assets/icons/donate/dollar-icon-gray.svg);
}

.donate-pick {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 92px 62px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
  }

  &__desc {
    margin: 20px 0 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333B41;
  }

  &__animal {
    display: flex;
    align-items: center;
  }

  &__days {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 11px;
    font-weight: 500;
    font-size: 72px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #333B41;
  }

  &__x {
    width: 14px;
    height: 14px;
    margin: 0 64px 0 11px;
    background: url(../../../assets/icons/donate/x-icon.svg);
  }

  &__panda {
    width: 270px;
    height: 198.5px;
    background: url(../../../assets/icons/donate/panda_widget.svg) 0 100%;
  }
}

.bar {
  display: flex;
  align-items: center;
  width: 976px;
  height: 27px;
  padding: 0 30px 0 26px;
  background: #404950;
  border-radius: 2px;

  &__text {
    display: block;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 915px;
    height: 2px;
    background: #72828E;
  }

  &__dot {
    position: relative;
    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
    cursor: pointer;
    &_active::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      left: -15px;
      top: -15px;
      background: url(../../../assets/icons/donate/ring2.svg) no-repeat;
      cursor: pointer;
    }
    &_active::after {
      content: '';
      position: absolute;
      width: 22.95px;
      height: 22.95px;
      left: -7.5px;
      top: -7.5px;
      background: url(../../../assets/icons/donate/ring1.svg);
      cursor: pointer;
    }
  }

  &__price {
    display: flex;
    max-width: 952px;
    margin-top: 12px;
  }
}

.price {
  display: flex;
  align-items: center;
  margin-right: 73px;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333B41;

  &__dollar {
    margin-right: 2px;
    width: 10px;
    height: 20px;
    background: url(../../../assets/icons/donate/dollar-icon.svg);
    &_active {
      background: url(../../../assets/icons/donate/dollar-icon_or.svg);
    }
  }

  &__count_active {
    color: #FE9013;
  }
  &:first-child {
    margin-right: 58px;
  }
  &:nth-child(2) {
    margin-right: 58px;
  }
  &:nth-child(3) {
    margin-right: 58px;
  }
  &:nth-child(7) {
    margin-right: 88px;
  }
  &:last-child {
    margin: 0;
  }
}