@mixin widjet-icon($icon) {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../assets/icons/#{$icon}') center center no-repeat;
}

.pick {
  width: 100%;
  padding: 69px 0 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  font: {
    family: 'Roboto';
    style: normal;
  }
  color: #333B41;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
    padding: 41px 0 59px 0;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);    
    border-radius: 20px;
  }

  &__title {
    margin: 0;
    font: {
      weight: 400;
      size: 48px;
    }
    line-height: 58px;
    text-align: center;
    color: #FE9013;
  }

  &__text-wrapper {
    padding-left: 99px;
    align-self: flex-start;
  }

  &__subtitle {
    margin: 30px 0 40px;
    @include subtitle;
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    max-width: 863px;
    &_strong {
      display: block;
      max-width: none;
      margin-bottom: 10px;
      font-weight: 500;
    }
    &_link {
      position: relative;
      text-decoration: none;
      color: #333B41;
      &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: #FE9013;
      }
    }
  }

  &__widjet-wrap {
    max-width: 916px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-top: 60px;
  }

}

.widjet {
  width: 168px;
  height: 244px;  
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;

  &__title {
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
  }

  &__icon {
    position: relative;
    width: 168px;
    height: 168px; 
    background: #FFFFFF;
    border: 1px solid #FE9013;
    border-radius: 5px;
  }
  &_pay::before {
    @include widjet-icon('pay.svg');
  }
  &_zoo::before {
    @include widjet-icon('zoo.svg');
  }
  &_monkey::before {
    @include widjet-icon('monkey.svg');
  }

  &__text {
    margin: 30px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
  }
  
  &__arrow {
    width: 69px;
    height: 35.08px;
    background: url(../../assets/icons/widjet-arrow.svg) center center no-repeat;
    background-size: contain;
    align-self: start;
    margin-top: 61px;
  }

  &__btn {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1599px) {
  .pick {
    padding: 30px 3% 50px;
    &__content {
      width: 100%;
      padding: 30px 49px 50px 48px;
    }
    &__subtitle {
      margin: 20px 0 20px;
    }
    &__text-wrapper {
      padding: 0;
    }
    &__widjet-wrap {
      margin-top: 40px;
    }
  }
  .widjet__btn {
    margin-top: 71px;
  }
}

@media screen and (max-width: 999px) {
  .pick {
    padding: 20px 0 20px;
    &__content {
      padding: 10px 20px 60px;
    }
    &__title {
      font-size: 42px;
      line-height: 50px;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 26px;
      margin-top: 21px;
      margin-bottom: 19px;
    }
    &__widjet-wrap {
      max-width: 600px;
      position: relative;
      margin-top: 30px;
      column-gap: 42px;
      padding-right: 12px;
    }
  }

  .widjet__btn {
    margin-top: 40px;
    margin-left: 10px;
  }
  .widjet {
    &__title {
      margin-bottom: 20px;
      margin-left: 10px;
    }
    &__arrow {
      position: absolute;
      z-index: 999;
      left: 148px;
      top: -28px;
      width: 70.12px;
      height: 76.66px;
      transform: rotate(-38.38deg);
      background: url(../../assets/icons/pick-arrow.svg) center center no-repeat;
      background-size: contain;
      transition: 0.3s;
      &_2 {
        top: -30px;
        left: 356px;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .pick {
    padding: 20px 11px 20px 10px;
    &__content {
      padding: 20px 0 40px;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      margin: 10px 0 20px -4px;
    }
    &__text {
      display: none;
    }
    &__widjet-wrap {
      max-width: 299px;
      margin-top: 0;
      padding-right: 0px;
    }
  }

  .widjet__btn {
    margin: 0;
    margin-top: 17px;
  }
  .widjet {
    &:nth-child(6) {
      margin-top: 5px;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
      margin: 0 0 20px -1px;
    }
    &__text {
      margin-top: 10px;
    }
    &__arrow {
      left: 209px;
      top: 159px;
      transform: rotate(46.62deg);
      &_2 {
    top: 407px;
    left: 209px;
      }
    }
  }
}