.testimonials {
  position: relative;
  width: 100%;
  padding: 140px 0 180px;

  &__title {
    margin: 0 0 47px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #333B41;
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cards {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__scrol {
    position: relative;
    width: 599px;
    height: 8px;
    margin: 21px 0 31px;
    background: #F5F7F6;
    border-radius: 5px;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 1px;
      bottom: 1px;
      width: 115.19px;
      background: #FE9013;
      border-radius: 5px;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -1px;
      left: -0.5px;
      bottom: -0.5px;
      right: -0.5px;
      background: linear-gradient(to top left, #FEBDABBD 25%,#F3A9F8A8 50% 75%, #E0D8F0 85%);;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  &__btn  {
    align-self: flex-start;
  }

  &__flower {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 235px;
    background: url(../../../assets/images/leav.png) -105px -40px no-repeat;
  }
}

.testimonial {
  position: relative;
  width: 264px;
  height: 387px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 15px 19px 16px;
  border-radius: 20px;
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 264px;
    height: 387px;
    background: #F1F3F2;
    border-radius: 20px;
  }
  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    width: 268px;
    height: 391px;
    background: linear-gradient(to top left, #FEBDABBD 25%,#F3A9F8A8 50% 75%, #E0D8F0 85%);
    border-radius: 20px;
  }
  &__header {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__user-icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    background: url(../../assets/images/user-icons/user-icon.svg);
  }

  &__name {
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  &__from {
    margin-right: 16px;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
  }

  &__date {
    position: relative;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
  }
  &__from::after {
    content: '.';
    position: absolute;
    top: -4px;
    right: -10px;
  }

  &__text {
    position: relative;
    z-index: 999;
    margin: 0;
    margin-top: 10px;
    max-height: 309px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
    overflow: hidden;
  }
}

.user-icon2 {
  background: url(../../assets/images/user-icons/user-foto1.png);
}

.user-icon3 {
  background: url(../../assets/images/user-icons/user-foto2.png);
}

.user-icon4 {
  background: url(../../assets/images/user-icons/user-foto3.png);
}