.scroll {
  width: 598px;
  height: 6px;
  border-radius: 5px;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, #FEBDABBD 25%,#F3A9F8A8 50% 75%, #E0D8F0 85%);
    border-radius: 5px;
  }
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-webkit-slider-runnable-track {
    width: 598px;
    height: 6px;
    background: #F5F7F6;
    border-radius: 5px;
    cursor: pointer;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 75px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
  }
}

.testimonials {
  position: relative;
  width: 100%;
  padding: 140px 0 180px;

  &__title {
    margin: 0 0 47px;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #333B41;
  }

  &__wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cards-wrap {
    position: relative;
    height: 427px;
    width: 100%;
    overflow-x: hidden;
  }

  &__cards {
    padding: 20px 10px;
    position: absolute;
    left: 0;
    width: auto;
    display: flex;
    justify-content: flex-start;
  }

  &__scroll {
    width: 600px;
    height: 8px;
    margin: 21px 0 34px;
  }

  &__btn  {
    align-self: flex-start;
  }

  &__flower {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 235px;
    background: url(../../assets/images/leav.png) -86px -40px no-repeat;
  }
}

.testimonial {
  margin-right: 30px;
  position: relative;
  width: 264px;
  height: 387px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 11px 19px 16px;
  border-radius: 20px;
  transition: .4s ease-in-out;
  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 264px;
    height: 387px;
    background: #F1F3F2;
    border-radius: 20px;
  }
  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    width: 268px;
    height: 391px;
    background: linear-gradient(to top left, #FEBDABBD 25%,#F3A9F8A8 50% 75%, #E0D8F0 85%);
    border-radius: 20px;
  }
  &__header {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__user-icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    background: url(../../assets/images/user-icons/user-icon.svg);
  }

  &__name {
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  &__from {
    margin-right: 16px;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
  }

  &__date {
    position: relative;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
  }
  &__from::after {
    content: '.';
    position: absolute;
    top: -4px;
    right: -10px;
  }

  &__text {
    position: relative;
    z-index: 999;
    margin: 0;
    margin-top: 10px;
    max-height: 309px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
    overflow: hidden;
  }
}

.user-icon2 {
  background: url(../../assets/images/user-icons/user-foto1.png);
}

.user-icon3 {
  background: url(../../assets/images/user-icons/user-foto2.png);
}

.user-icon4 {
  background: url(../../assets/images/user-icons/user-foto3.png);
}

@media screen and (max-width: 1599px) {
  .testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
    &__title {
      margin-bottom: 30px;
    }
    &__cards-wrap {
      width: 940px;
    }
    &__cards {
      padding: 2px 0 2px 2px;
      max-width: 940px;
      // column-gap: 30px;
    }
    &__scrol {
      width: 390px;
      height: 6px;
      margin-bottom: 52px;
      margin-right: 12px;
      &::before {
        top: -0.2px;
        width: 75px;
        height: 6px;
      }
      &::after {
        bottom: -0.5px;
      }
    }
    &__flower {
      width: 117px;
      height: 210px;
      background: url(../../assets/images/leav_tablet.png) 100% -30px no-repeat;
    }
  }

  .testimonial {
    width: 289px;
    height: 387px;
    flex-shrink: 0;
    padding-right: 18px;
    &::before {
      width: 289px;
      height: 387px;
    }
    &::after {
      width: 293px;
      height: 391px;
    }
  }
}

@media screen and (max-width: 999px) {
  .testimonials {
    padding-top: 60px;
    padding-bottom: 80px;
    &__content {
      padding: 0 20px;
    }
    &__cards {
      flex-direction: column;
      align-items: center;
      row-gap: 19px;
    }
    &__scrol {
      display: none;
    }
    &__btn {
      .btn {
        width: 240px;
        &::before,
        &::after {
          width: 240px;
        }
      }
      align-self: center;
      margin-top: 40px;
    }
    &__flower {
      width: 168px;
      height: 204px;
      background-position: 52px 69px;
      background-size: contain;
    }
  }

  .testimonial {
    width: 596px;
    height: 105px;
    padding: 15px 29px 8px 12px;
    &::before {
      width: 596px;
      height: 105px;
    }
    &::after {
      width: 600px;
      height: 109px;
    }
  }
}

@media screen and (max-width: 639px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 60px;
    &__content {
      padding: 0 10px 0 11px;
    }
  &__title {
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 20px;
  }
    &__btn {
      margin-top: 30px;
    }
    &__flower {
      width: 50px;
      height: 75px;
      background: url(../../assets/images/leav_mobile.png) -2px 11px no-repeat;
    }
  }

  .testimonial {
    width: 295px;
    height: 105px;
    padding: 10px 29px 8px 8px;
    &::before {
      width: 295px;
      height: 105px;
    }
    &::after {
      width: 299px;
      height: 109px;
    }
    &__user-icon {
      margin-right: 6px;
    }
  }
}