.footer {
  width: 100%;
  background: #111115;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 40px 0 50px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__mid {
    margin: 36px 0 44px;
  }

  &__bot {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
  
  &__email {
    display: flex;
    &:focus-within .btn-submit {
      color: #D31414;
      border: 1px solid #D31414;
      border-radius: 5px;
    }
    &:valid .btn-submit {
      color: #4B9200;
      border: 1px solid #4B9200;
    }
    &:invalid .email__input_active::after {
      opacity: 1;
    }
  }
  &__nav {
    margin-left: 9.5%;
  }
  &__autor {
    display: flex;
    flex-wrap: wrap;
    width: 228px;
    row-gap: 10px;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}

.autor {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
  &::before {
    content: '';
    position: absolute;
    width: 223px;
    height: 1px;
    bottom: -2px;
    background: #4B9200;
    transition: 0.3s;
    opacity: 0;
  }
  &:active {
    color: #4B9200;
  }
  &:active::before {
    opacity: 1;
  }
}

.email {

  &__input {
    position: relative;
    z-index: 2;
    width: 226.6px;
    height: 40.4px;
    padding: 10px 7px 10px 10px;
    border-radius: 2px;
    background: #111115;
    border: none;
    color: #BDBDBD;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #BDBDBD;
    }
    &:invalid:focus {
      color: #D31414;
    }
    &:invalid:focus::placeholder {
      color: #D31414;
    }
    &_active {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: #4B9200;
      border-radius: 2px;
      opacity: 0;
      transition: 0.3s;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: #D31414;
        border-radius: 2px;
        opacity: 0;
        transition: 0.3s;
        color: #D31414;
      }
    }
    &:focus-visible {
      outline: none;
    }
    &:focus-visible ~ &_active {
      opacity: 1;
    }
  }
  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 228px;
    height: 42px;
    border-radius: 2px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    transition: 0.3s;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 10px;
  padding: 0;
  margin: 0;
  margin-top: 1px;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
    &:active {
      color: #4B9200;
    }
    &:active .socials__icon {
      background-color: #4B9200;
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    margin-right: 12px;
    border-radius: 50%;
    transition: 0.3s;
    &_fb {
      background: url(../../assets/icons/socials/fb.svg) center center no-repeat;
      background-color: rgba(196, 196, 196, 0.5);
    }
    &_twitter {
      background: url(../../assets/icons/socials/twitter.svg) center center no-repeat;
      background-color: rgba(196, 196, 196, 0.5);
    }
    &_ig {
      background: url(../../assets/icons/socials/ig.svg) center center no-repeat;
      background-color: rgba(196, 196, 196, 0.5);
    }
    &_youtube {
      background: url(../../assets/icons/socials/youtube.svg) center center no-repeat;
      background-color: rgba(196, 196, 196, 0.5);
    }
  }
}


@media screen and (max-width: 1599px) {
  .footer {
    &__content {
      padding: 40px 30px 50px 31px;
    }
    &__top {
      max-width: 907px;
    }
    &__nav {
      margin-left: 9.5%;
      &_donate {
        margin-left: 12.5%;
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .footer {
    &__content {
      padding: 12px 20px;
      position: relative;
    }
    &__mid {
      margin-top: 32px;
      margin-bottom: 67px;
    }
    &__nav {
      margin-left: 0;
      .nav {
        column-gap: 37px;
      }
    }
    &__socials {
      position: absolute;
      top: 11px;
      right: 9px;
      row-gap: 20px;
    }
    &__email-wrap {
      display: none;
    }
  }
  .socials {
    &__name {
      display: none;
    }
  }
}

@media screen and (max-width: 639px) {
  .footer {
    &__content {
      padding: 20px 13px 20px 9px;
      align-items: center;
    }
    &__mid {
      margin: 86px 0 30px;
    }
    &__bot {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    &__autor {
      width: 214px;
      align-self: flex-end;
      margin-bottom: 27px;
      margin-right: -12px;
      a {
        font-size: 15px;
      }
    }
    .nav {
      column-gap: 30px;
      a {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
      }
    } 
    &__socials {
      width: 194px;
      flex-direction: row;
      top: 71px;
      left: 50%;
      transform: translateX(-50%);
      column-gap: 30px;
      
    }
  }
  .socials {
    &__icon {
      margin: 0;
    }
  }
}